*.o
*.tar.gz
*.tgz
*.opensdf
*.sdf
*.suo
*.depend
*.layout
*ipch
*.log
*.flv
*.aps
*.pdb
*.ilk
*.user
*.txt
*.log
Debug*
Release*
DuiLib/Debug/*
DuiLib/Release/*
LiveAssistant/Debug/*
LiveAssistant/Release/*